@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* Изменение цвета выделения на старнице */
::-moz-selection {
  background: #00CF4D !important;
  color: #fff;
}
::selection {
  background: #00CF4D !important;
  color: #fff;
}

::-moz-selection {
  background: #00CF4D !important;
  color: #fff;
}

::-webkit-selection {
  background: #00CF4D !important;
  color: #fff;
}

button {
  border: none;
  background-color: #00cf4d;
}

button:hover,
.start_new:hover {
  -webkit-box-shadow: 0px 0px 13px 2px #00cf4d;
  box-shadow: 0px 0px 13px 2px #00cf4d;
  color: #ffffff !important;
}

button:focus {
  outline: none;
}

.title_text {
  font-size: 25px;
  font-weight: 700;
  color: #253556;
  padding-bottom: 10px;
}

.admin_home {
  font-family: 'Montserrat', sans-serif;
  /* Track */
  /* Handle */
}

.admin_home .container {
  max-width: 1170px;
  margin: 0 auto;
}

.admin_home .avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #00cf4d;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.admin_home .avatar img {
  position: absolute;
  width: 67px;
  height: 67px;
  -o-object-fit: cover;
     object-fit: cover;
}

.admin_home textarea::-webkit-scrollbar,
.admin_home .tasks::-webkit-scrollbar,
.admin_home .error_questions::-webkit-scrollbar,
.admin_home .error_questions_text::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  cursor: pointer;
}

.admin_home textarea::-webkit-scrollbar-track,
.admin_home .tasks::-webkit-scrollbar-track,
.admin_home .error_questions::-webkit-scrollbar-track,
.admin_home .error_questions_text::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.admin_home textarea::-webkit-scrollbar-thumb,
.admin_home .tasks::-webkit-scrollbar-thumb,
.admin_home .error_questions::-webkit-scrollbar-thumb,
.admin_home .error_questions_text::-webkit-scrollbar-thumb {
  background: #00cf4d;
  border-radius: 10px;
}

.admin_home .header_admin {
  height: 100vh;
  padding: 10px 0;
}

.admin_home .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.admin_home .navbar .logo_header {
  width: 250px;
  text-align: center;
}

.admin_home .navbar .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -130px;
}

.admin_home .navbar .search input {
  width: 400px;
  height: 40px;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  border: 1px solid #efefef;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.admin_home .navbar .search input:focus {
  border: 1px solid #00cf4d;
}

.admin_home .navbar .search .search_btn {
  width: 40px;
  height: 40px;
  background-color: #00cf4d;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.admin_home .navbar .chat i {
  cursor: pointer;
  color: #00cf4d;
  font-size: 35px;
  position: relative;
}

.admin_home .navbar .chat i span {
  font-size: 14px;
  position: absolute;
  color: #ffffff;
  left: 10px;
  top: 10px;
  z-index: 2;
}

.admin_home .navbar .chat .chat_text {
  background-color: #efefef;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  width: 600px;
  top: 75px;
  left: calc(100%/2.05);
  z-index: 7;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.admin_home .navbar .chat .chat_text li {
  list-style: none;
  position: relative;
  padding-left: 20px;
  font-size: 14px;
}

.admin_home .navbar .chat .chat_text li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.admin_home .navbar .chat .chat_text li a:hover {
  color: #00cf4d;
  text-decoration: underline;
}

.admin_home .navbar .chat .chat_text li:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00cf4d;
  position: absolute;
  top: 5px;
  left: 0;
  right: 20px;
}

.admin_home .navbar .chat .chat_text:before {
  content: '';
  display: block;
  position: absolute;
  left: calc(100%/1.98);
  top: -40px;
  border: 20px solid transparent;
  border-bottom: 20px solid #efefef;
}

.admin_home .header_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.admin_home .header_title .menu_item {
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin_home .header_title .menu_item .all_category {
  width: 100%;
  height: 40px;
  background-color: #12114a;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin_home .header_title .menu_item .menu_list {
  width: 100%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #100f41;
  border: 1px solid #00cf4d;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-top: none;
}

.admin_home .header_title .menu_item .menu_list:hover {
  background-color: #00cf4d;
  color: #ffffff;
}

.admin_home .header_title .info_item {
  width: 880px;
}

.admin_home .header_title .info_item .sup_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin_home .header_title .info_item .sup_list_info {
  width: 270px;
  height: 160px;
  border-radius: 15px;
  border: 1px solid #efefef;
  padding: 15px;
  color: #12114a;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin_home .header_title .info_item .sup_list_info .col {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin_home .header_title .info_item .sup_list_info .col p {
  font-size: 14px;
  font-weight: 500;
}

.admin_home .header_title .info_item .sup_list_info .col span {
  font-weight: 600;
}

.admin_home .header_title .info_item .sup_list_info hr {
  width: 100%;
  margin-top: 10px;
}

.admin_home .header_title .info_item .sup_list_info:hover {
  border: 1px solid #00cf4d;
}

.admin_home .header_title .info_item .middle_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.admin_home .header_title .info_item .middle_list .chart_box {
  margin: 15px 0;
  padding: 20px;
  width: 580px;
  max-height: 310px;
  border: 1px solid #efefef;
  border-radius: 10px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  position: relative;
}

.admin_home .header_title .info_item .middle_list .chart_box .month,
.admin_home .header_title .info_item .middle_list .chart_box .user_online {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 80px;
  height: 20px;
  padding: 0 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #00cf4d;
}

.admin_home .header_title .info_item .middle_list .chart_box .month i,
.admin_home .header_title .info_item .middle_list .chart_box .user_online i {
  padding-top: 10px;
  font-size: 22px;
}

.admin_home .header_title .info_item .middle_list .chart_box .user_online {
  left: 20px;
  width: 300px;
  height: 35px;
  background-color: #ffffff;
  border: none;
  z-index: 5;
  font-weight: 600;
  padding-left: 5px;
}

.admin_home .header_title .info_item .middle_list .chart_box .user_online span {
  margin-top: -15px;
}

.admin_home .header_title .info_item .middle_list .chart_box:hover {
  border: 1px solid #00cf4d;
}

.admin_home .header_title .info_item .middle_list .tasks {
  width: 270px;
  height: 310px;
  border-radius: 10px;
  border: 1px solid #efefef;
  color: #12114a;
  padding: 20px 10px;
  margin-top: 15px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  overflow-y: scroll;
}

.admin_home .header_title .info_item .middle_list .tasks .task_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.admin_home .header_title .info_item .middle_list .tasks .task_item input {
  width: 85%;
  height: 25px;
  border-radius: 10px;
  padding: 0 5px;
  outline: none;
  border: 1px solid #efefef;
}

.admin_home .header_title .info_item .middle_list .tasks .task_item input:focus {
  border: 1px solid #00cf4d;
}

.admin_home .header_title .info_item .middle_list .tasks .task_item i {
  color: #c1c4ca;
  font-size: 22px;
  cursor: pointer;
}

.admin_home .header_title .info_item .middle_list .tasks .task_item i:hover {
  color: #00cf4d;
}

.admin_home .header_title .info_item .middle_list .tasks .task_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  max-width: 100%;
  position: relative;
  padding: 10px 5px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.admin_home .header_title .info_item .middle_list .tasks .task_list input[type='checkbox'] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #c1c4ca;
  vertical-align: middle;
  border-radius: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  cursor: pointer;
}

.admin_home .header_title .info_item .middle_list .tasks .task_list input[type='checkbox']:focus {
  outline: none;
}

.admin_home .header_title .info_item .middle_list .tasks .task_list input[type='checkbox']::after {
  font-family: 'Font Awesome 5 Free';
  content: '\f00c';
  font-weight: 900;
  font-size: 12px;
  color: #ffffff;
  display: none;
}

.admin_home .header_title .info_item .middle_list .tasks .task_list input[type='checkbox']:checked {
  background-color: #00cf4d;
  border: none;
}

.admin_home .header_title .info_item .middle_list .tasks .task_list input[type='checkbox']:checked::after {
  display: block;
}

.admin_home .header_title .info_item .middle_list .tasks .task_list .task_text {
  border: none;
  outline: none;
  resize: none;
  max-height: 40px;
  font-size: 14px;
  width: 100%;
  padding: 0 5px;
  margin-left: 5px;
  background: transparent;
}

.admin_home .header_title .info_item .middle_list .tasks .task_list .remove_task {
  position: absolute;
  top: -10px;
  right: -4px;
  color: #ff8fb4;
  z-index: 5;
  padding: 2px;
  background-color: #ffffff;
  border-radius: 50%;
  visibility: hidden;
  cursor: pointer;
}

.admin_home .header_title .info_item .middle_list .tasks .tasks:hover {
  border: 1px solid #00cf4d;
}

.admin_home .header_title .info_item .error_questions,
.admin_home .header_title .info_item .user_complaints {
  margin-top: 15px;
  padding: 20px;
  border: 1px solid #efefef;
  border-radius: 10px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  max-height: 300px;
  overflow-y: scroll;
  color: #253556;
  margin-bottom: 20px;
}

.admin_home .header_title .info_item .error_questions .title_text,
.admin_home .header_title .info_item .user_complaints .title_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin_home .header_title .info_item .error_questions .title_text strong,
.admin_home .header_title .info_item .user_complaints .title_text strong {
  font-size: 20px;
}

.admin_home .header_title .info_item .error_questions .title_text button,
.admin_home .header_title .info_item .user_complaints .title_text button {
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.admin_home .header_title .info_item .error_questions .questions_list,
.admin_home .header_title .info_item .user_complaints .questions_list {
  margin-top: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
}

.admin_home .header_title .info_item .error_questions .info_user,
.admin_home .header_title .info_item .user_complaints .info_user {
  max-width: 65%;
}

.admin_home .header_title .info_item .error_questions .info_user a,
.admin_home .header_title .info_item .user_complaints .info_user a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.admin_home .header_title .info_item .error_questions .info_user a:hover,
.admin_home .header_title .info_item .user_complaints .info_user a:hover {
  color: #00cf4d;
  text-decoration: underline;
}

.admin_home .header_title .info_item .error_questions .info_user span,
.admin_home .header_title .info_item .user_complaints .info_user span {
  font-weight: 400;
}

.admin_home .header_title .info_item .error_questions .info_user p,
.admin_home .header_title .info_item .user_complaints .info_user p {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.admin_home .header_title .info_item .error_questions .info_user .error_questions_text,
.admin_home .header_title .info_item .user_complaints .info_user .error_questions_text {
  white-space: normal;
  max-height: 100px;
  overflow-y: scroll;
  background-color: #ffffff;
  padding: 10px;
}

.admin_home .header_title .info_item .error_questions .right_list,
.admin_home .header_title .info_item .user_complaints .right_list {
  width: 24%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 0 15px;
}

.admin_home .header_title .info_item .error_questions .right_list i,
.admin_home .header_title .info_item .user_complaints .right_list i {
  position: absolute;
  top: 0;
  right: 0;
  color: #ff8fb4;
  visibility: hidden;
  cursor: pointer;
}

.admin_home .header_title .info_item .error_questions .right_list span,
.admin_home .header_title .info_item .user_complaints .right_list span {
  width: 100%;
  text-align: right;
  padding-top: 15px;
}

.admin_home .header_title .info_item .error_questions .buttons,
.admin_home .header_title .info_item .user_complaints .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.admin_home .header_title .info_item .error_questions .buttons button,
.admin_home .header_title .info_item .user_complaints .buttons button {
  padding: 5px 8px;
  border-radius: 15px;
  cursor: pointer;
}

.admin_home .header_title .info_item .error_questions .buttons .detailed_btn,
.admin_home .header_title .info_item .user_complaints .buttons .detailed_btn {
  background-color: #ffffff;
  border: 1px solid #00cf4d;
  visibility: hidden;
}

.admin_home .header_title .info_item .error_questions .buttons .detailed_btn:hover,
.admin_home .header_title .info_item .user_complaints .buttons .detailed_btn:hover {
  background-color: #00cf4d;
}

.admin_home .header_title .info_item .error_questions:hover {
  border: 1px solid #00cf4d;
}

.admin_home .map_section {
  border: 1px solid #efefef;
  padding: 20px;
  border-radius: 10px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin_home .map_section .inner__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin_home .map_section .statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0px;
}

.admin_home .map_section .country {
  margin-bottom: 150px;
  color: #5e5e95;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.admin_home .map_section .county-word {
  margin-left: 15px;
  line-height: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin_home .map_section .line {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 2px;
  background-color: #00cf4d;
  z-index: 10;
}

.admin_home .map_section .line:before {
  content: " ";
  background-color: #00cf4d;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: -5px;
  left: -5px;
}

.admin_home .map_section .line:after {
  content: " ";
  background-color: #00cf4d;
  width: 420px;
  height: 2px;
  position: absolute;
  right: -420px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}

.admin_home .map_section .users__stat {
  line-height: 30px;
}

.admin_home .map_section .digits {
  color: #5a5992;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.admin_home .map_section .users {
  color: #5a5992;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.admin_home .map_section .map {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.admin_home .map_section:hover {
  border: 1px solid #00cf4d;
}
/*# sourceMappingURL=main.css.map */